<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester</title>
</head>

<body>
    <header>
        <h1>====Name====</h1>
        <p>summary</p>
        <img width="500" src="../images/placeholder.png" alt="">
        <!--Remove Width -->
    </header>

    <section class="stats">
        <div>
            <label for="skils"> Charisma </label><br>
            <progress id="skils" value="5" max="100"></progress><br>

            <label for="skils"> Crime </label><br>
            <progress id="skils" value="5" max="100"></progress><br>

            <label for="skils"> Consquence </label><br>
            <progress id="skils" value="5" max="100"></progress>
        </div>
    </section>

    <section class="crime-links">
        <h2>====Crime List====</h2>
        <details>
            <summary>Summary of crimes </summary>
            <ul>
                <li> Crime </li>
                <li> Crime </li>
                <li> Crime </li>
                <li> Crime </li>
            </ul>
        </details>
    </section>

    <section class="victims">
        <h2>====Victims====</h2>
        <details>
            <summary>List of victums and there documentary </summary>
            <ul>
                <li> Crime </li>
                <li> Crime </li>
                <li> Crime </li>
                <li> Crime </li>
                <li> accounts <a href="#">Test</a> </li>
            </ul>
        </details>
    </section>

    <section class="consquence">
        <h2>====Consquences====</h2>
        <p> There consquneces this can be a list or a paragraph </p>
        <ul>
            <li> Crime </li>
            <li> Crime </li>
            <li> Crime </li>
            <li> Crime </li>
        </ul>
    </section>

    <section class="documentray">
        <h2>====Youtube Docs====</h2>
        <details>
            <summary>Linkes to Youtubers whos covered the storys </summary>
            <ul>
                <li> <a href="#">Test</a> </li>
                <li> <a href="#">Test</a> </li>
                <li> <a href="#">Test</a> </li>
            </ul>
        </details>
    </section>

</body>

</html>